.promo {
	background: url("../img/promo.webp") center (center/cover) no-repeat;

	padding: 188px 0 149px 0;
	min-height: 552px;
	position: relative;

	&__overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		background: #000;
		opacity: 0.5;
		z-index: 2;
	}

	&__slider {
		position: relative;
		width: 650px;
		margin: 0 auto;
		background: url("../img/promo_border.png") center no-repeat;

		padding: 48px 0 56px 0;
		z-index: 2;
	}

	&__slide {
		position: relative;
	}

	&__slider-wrapper {
		text-align: center;
		width: 100% !important;
	}

	&__slider-prev,
	&__slider-next {
		width: 29px;
		height: 33px;
		border: 1px solid rgba($color: #ffffff, $alpha: 0.3);
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 4;

		img {
			display: block;
			width: 9px;
			height: 19px;
		}

		&:hover {
			cursor: pointer;
		}
	}

	&__slider-prev {
		left: -158px;
		top: 50%;
		transform: translate(+50%, -50%);
	}

	&__slider-next {
		right: -158px;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&__title {
		color: #ffffff;
		font-size: 48px;
		font-weight: 700;
		text-transform: uppercase;
	}

	&__subtitle {
		width: 332px;
		height: 29px;
		color: #ffffff;
		font-size: 10px;
		font-weight: 400;
		margin: 0 auto;
	}

	&__button {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, +50%);
		width: 112px;
		height: 37px;
		border: 2px solid #ffffff;
		background-color: #ffffff00;
		color: #ffffff;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;

		&:hover {
			background-color: white;
			color: black;
		}
	}
}

@media (max-width: 991px) {
	.promo {
		&__slider-prev {
			left: -20px;
			top: 50%;
			transform: translate(+50%, -50%);
		}

		&__slider-next {
			right: -20px;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

@media (max-width: 767px) {
	.promo {
		&__slider {
			width: 460px;
			background-size: 100% 100%;

			&-prev {
				left: -55px;
			}

			&-next {
				right: -55px;
			}
		}

		&__title {
			font-size: 38px;
		}

		&__button {
			width: 100px;
			height: 33px;
			color: #ffffff;
			font-size: 13px;
		}
	}
}

@media (max-width: 575px) {
	.promo {
		padding: 150px 0 120px 0;
		min-height: 400px;

		&__slider {
			padding: 28px 0 45px 0;
			width: 70%;

			&-prev {
				left: -50px;
			}

			&-next {
				right: -50px;
			}
		}

		&__title {
			font-size: 22px;
		}

		&__subtitle {
			width: 100%;
			padding: 0 5px;
		}

		&__button {
			width: 80px;
			height: 25px;
			color: #ffffff;
			font-size: 11px;
			line-height: 20px;
		}
	}
}
